---
const {
  title = "Schedule",
  subtitle = "Discover the strength building power of VMBC. Book your next class and feel the difference.",
  widgetId = 'freetrial_a0fa9a84-9224-46d1-ac3b-b48afe77281f'
} = Astro.props;

const today = new Date();
const todayIndex = new Date(today.getFullYear(), today.getMonth(), today.getDate());

const schedule = [
  {
    day: 'Sunday',
    classes: [
      { time: '10:00 AM - 11:00 AM', class: 'Kettleballs', instructor: 'Tim' },
    ],
  },
  {
    day: 'Monday',
    classes: [
      { time: '6:10 PM - 6:40 PM', class: 'Kettlebells 101', instructor: 'Tim' },
      { time: '7:00 PM - 8:00 PM', class: 'Aikido', instructor: 'Natan Cheifetz' },
      { time: '8:15 PM - 9:15 PM', class: 'Karate', instructor: 'Kyle' },
    ],
  },
  {
    day: 'Tuesday',
    classes: [
      { time: '9:00 AM - 9:45 AM', class: 'Kettlebells + Flexibility', instructor: 'Tim' },
      { time: '12:00 PM - 1:00 PM', class: 'Kettlebells', instructor: 'Tim' },
      { time: '5:30 PM - 6:15 PM', class: 'Core Strength', instructor: 'Natan Cheifetz' },
      { time: '6:15 PM - 7:15 PM', class: 'Karate & Kudo: Fundamentals (Ages 6-11)', instructor: 'Kyle' },
      { time: '7:20 - 8:20 PM', class: 'Kudo (Japanese MMA): Youth & Adults (Ages 12+)', instructor: 'Kyle' },
    ],
  },
  {
    day: 'Wednesday',
    classes: [
      { time: '6:10 PM - 6:40 PM', class: 'Kettlebells 101', instructor: 'Natan Cheifetz' },
      { time: '7:00 PM - 8:00 PM', class: 'Aikido', instructor: 'Natan Cheifetz' },
    ],
  },
  {
    day: 'Thursday',
    classes: [
      { time: '12:00 PM - 1:00 PM', class: 'Kettlebells', instructor: 'Tim' },
      { time: '5:30 PM - 6:15 PM', class: 'Core Strength', instructor: 'Natan Cheifetz' },
      { time: '6:15 PM - 7:15 PM', class: 'Karate & Kudo: Fundamentals (Ages 6-11)', instructor: 'Kyle' },
      { time: '7:20 - 8:20 PM', class: 'Kudo (Japanese MMA): Youth & Adults (Ages 12+)', instructor: 'Kyle' },
      
    ],
  },
  {
    day: 'Friday',
    classes: [
      { time: '9:00 AM - 9:45 AM', class: 'Kettlebells + Flexibility', instructor: 'Tim' },
    ],
  },
  {
    day: 'Saturday',
    classes: [
      { time: '8:30 AM - 9:15 AM', class: 'Flexibility', instructor: 'Tim' },
      { time: '9:30 AM - 10:30 AM', class: 'Aikido', instructor: 'Natan Cheifetz' },
      { time: '2:00 PM - 3:30 PM', class: 'JKA Karate for Adults', instructor: 'Kyle' },
    ],
  },
];

const reorderedSchedule = [...schedule.slice(todayIndex), ...schedule.slice(0, todayIndex)];

reorderedSchedule.forEach((entry, i) => {
  const date = new Date();
  date.setDate(date.getDate() + i);
  entry.date = date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' }); 
});
---

<style>
  .schedule-container {
    max-width: 50%;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .schedule-container {
      max-width: 75%;
    }
  }

</style>

<section id="form-section" class="bg-white py-12">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <!-- Título principal -->
    <h2 class="capitalize text-old-brick-900 font-extrabold text-3xl sm:text-4xl lg:text-5xl mb-2">
      {title}
    </h2>
    
    <p class="text-stone-800 text-lg sm:text-xl mb-6">
      {subtitle}
    </p>

    <div class="mx-auto max-w-3xl rounded-2xl shadow-xl overflow-hidden">
      <div id={widgetId} class="w-full"></div>
    </div>
  </div>

  <div class="schedule-container">
    {reorderedSchedule.map(entry => (
      <>
        <div class="bg-[#20114D] text-white font-bold px-4 py-2 rounded">
          {entry.day.toUpperCase()}, {entry.date}
        </div>

        {entry.classes.map(cls => (
          <div class="flex items-center justify-between px-4 py-2 border-b">
            <div>
              <div class="text-lg font-semibold">{cls.time}</div>
              <div class="text-sm text-gray-700 font-bold">{cls.class}</div>
              <div class="text-sm text-gray-600">{cls.instructor}</div>
            </div>
            <button id="dialog" class="bg-red-600 text-white px-4 py-2 rounded-full shadow hover:bg-red-700 transition">
              BOOK
            </button>
          </div>
        ))}
      </>
    ))}
  </div>
</section>
