---
import { Image } from 'astro:assets';
import logo from '../assets/LogoVancouver.svg';
import NavLink from './NavLink.astro';

export interface Props {
  navLinks?: { href: string; label: string }[];
  ctaLabel?: string;
  logoSize?: number;
}

const {
  navLinks = [],
  ctaLabel = 'TRY NOW',
  logoSize = 24,
} = Astro.props;
---
<header class="w-full flex justify-center backdrop-blur gap-0.5 fixed top-0 z-50">
    
    <div class="p-2 bg-stone-800 dark:bg-white rounded-full">
    <Image
        id="isotype"
        src={logo}
        alt="Logo de Vancouver Mind Body"
        width={logoSize}
        class="not-dark:invert size-6 sm:size-7"
        loading="eager"
      />

    </div>
    <!-- Navegación -->
    <nav class="flex gap-0.5 px-0.5 bg-stone-800 dark:bg-white text-xs sm:text-sm font-semibold dark:text-white rounded-full">
        {navLinks.map(({ href, label }) => (
        <NavLink href={href} label={label} />
        ))}
    </nav>
    
    <!-- CTA Button -->
    <div class="flex gap-0.5 px-0.5 bg-stone-800 dark:bg-white text-sm font-semibold text-white rounded-full">
        <button
        type="button"
        class="group relative flex items-center px-5 my-0.5 bg-old-brick-900 text-white rounded-full transition-all duration-300 ease-in-out hover:bg-old-brick-700 hover:shadow-md overflow-hidden"
        id="cta-btn"
        >
        <span class="relative z-10 transition-transform">
            {ctaLabel}
        </span>
        <span class="absolute left-5 bottom-1 h-[2px] w-0 bg-white group-hover:w-[calc(100%-2.5rem)] rounded-full transition-all duration-300 ease-in-out"></span>
        </button>
    </div>

<script>
  document.getElementById('cta-btn')?.addEventListener('click', () => {
        const target = document.getElementById('form-section');
        if (target) {
          target.scrollIntoView({ behavior: 'smooth' });
        }
      });
</script>
<script type="module">
  import gsap from 'gsap';
  window.addEventListener('DOMContentLoaded', () => {
    const logo = document.getElementById('isotype');
    if (logo) {
      logo.addEventListener('mouseenter', () => {
        gsap.to(logo, {
          rotate: 180,
          duration: 0.8,
          ease: 'power2.out'
        });
      });
      logo.addEventListener('mouseleave', () => {
        gsap.to(logo, {
          rotate: 0,
          duration: 0.8,
          ease: 'power2.out'
        });
      });
    }
  });
</script>
</header>