---

export interface Props {
  title?: string;
  subtitle?: string;
  address?: string;
  description?: string;
  sectionId?: string;
}

const {
  title = 'Book Your Free Strength & Movement Class Today',
  subtitle = 'Group Fitness | Personal Training | Martial Arts',
  address = '6682 Main SF',
  description = 'Quis id ex adipisicing tempor id aliqua sit eu voluptate irure...',
  sectionId = 'Hero'
} = Astro.props;
---

<section
  id={sectionId}
  class="relative w-full flex flex-col gap-6 overflow-hidde"
>

  <div class="block md:hidden w-full">  
    <video  
      autoplay  
      muted  
      loop  
      playsinline  
      class="w-full h-auto object-cover rounded-b-2xl"  
    >  
      <source  
        src="https://pub-e99d4e6e55b14d18816edeb39b164ac6.r2.dev/hero-background-vancouvermindbody.mp4"  
        type="video/mp4"  
      />  
    </video>  
  </div>  

  <!-- Video de fondo -->
  <video
    autoplay muted loop playsinline
    class="hidden md:block absolute inset-0 w-full h-full object-cover"
  >
    <source
      src="https://pub-e99d4e6e55b14d18816edeb39b164ac6.r2.dev/hero-background-vancouvermindbody.mp4"
      type="video/mp4"
    />
  </video>

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 md:bg-black/80 z-10" />

  <!-- Contenido sobre video+overlay -->
  <div class="relative z-20 w-full max-w-8xl lg:max-w-5xl mx-auto px-4 lg:px-8 flex flex-col gap-10">
    
   <div class="grid grid-cols-1 gap-5">
      <div class="space-y-2 md:pt-20 " >
        <h1 class="capitalize font-extrabold text-3xl sm:text-4xl md:text-5xl lg:text-6xl leading-tight text-old-brick-800 md:text-white">{title}</h1>
        <p class="text-lg sm:text-xl md:text-2xl font-semibold text-stone-800 md:text-white">{subtitle}</p>
        <a href="https://www.google.com/maps/place/Vancouver+Mind-Body+Centre+(VMBC)/@49.2239899,-123.1038841,17z/data=!3m2!4b1!5s0x5486746a3f6c0445:0x157bebac1ffb7e3e!4m6!3m5!1s0x548673f8ac09a673:0x1f5bb2f281e4e969!8m2!3d49.2239899!4d-123.1013092!16s%2Fg%2F1tglyp5l?entry=ttu&g_ep=EgoyMDI1MDYyMy4yIKXMDSoASAFQAw%3D%3D" class="text-sm sm:text-base md:text-lg lg:text-xl text-stone-800 md:text-white">
          {address}
        </a>
        <p class="hidden lg:block text-stone-800 md:text-white max-w-2xl prose">{description}</p>
      </div>

      <p class="row-span-2 lg:hidden prose text-justify indent-6 font-semibold text-stone-800 md:text-white">{description}</p>
    </div>
    
    <div class="flex justify-center">
      <svg
        id="scroll-arrow"
        xmlns="http://www.w3.org/2000/svg"
        width="36" height="36" viewBox="0 0 24 24"
        fill="none" stroke="currentColor" stroke-width="2"
        class="animate-pulse"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 11l8 3l8 -3" />
      </svg>
    </div>
  </div>



  <!-- Degradado inferior -->
  <div
    class="pointer-events-none absolute inset-x-0 bottom-0 h-32 bg-gradient-to-b from-transparent to-[var(--bg)] z-20"
  />
</section>

<script>
  import gsap from 'gsap';

  gsap.to("#scroll-arrow", {
    y: 10,
    repeat: -1,
    yoyo: true,
    ease: "sine.inOut",
    duration: 1.2
  });
</script>
