---
import { Image } from 'astro:assets';
import HeroImage from '../assets/hero.webp';
const {
  headline = "Non nisi commodo nisi ex cillum id",
  description = "Non adipisicing ea est irure nulla ipsum qui sit reprehenderit aliquip anim consectetur. Dolor excepteur excepteur enim amet.",
  cta = {
    label: "Agendar clase gratuita",
    href: "#form-container"
  },
  image = {
    alt: "Eiusmod officia quis occaecat officia mollit mollit officia sint."
  }
}= Astro.props;;
---

<section class="w-full px-16 py-20 bg-white dark:bg-dark">
  <div class="flex flex-col-2 md:flex-row items-center justify-between gap-12">
    <!-- Texto -->
    <div class="max-w-xl space-y-6">
      <h2 class="text-4xl sm:text-5xl font-bold text-gray-900 dark:text-white leading-tight">
        {headline}
      </h2>
      <p class="text-lg text-gray-600 dark:text-gray-300">{description}</p>
      <a
        href={cta.href}
        class="inline-block bg-cm-500 hover:bg-cm-600 text-white text-sm font-semibold py-3  rounded-md transition"
      >
        {cta.label}
      </a>
    </div>

    <!-- Imagen -->
    <div class="max-w-3/5">
      <Image
      src={HeroImage}
      alt={image.alt} class="rounded-xl shadow-lg " loading="lazy" />
    </div>
  </div>
</section>
