---
import Forms from './Forms.astro';

export interface Props {
  title?: string;
  subtitle?: string;
  address?: string;
  description?: string;
  sectionId?: string;
}

const {
  title = 'Book Your Free Strength & Movement Class Today',
  subtitle = 'Group Fitness | Personal Training | Martial Arts',
  address = '6682 Main SF',
  description = 'Quis id ex adipisicing tempor id aliqua sit eu voluptate irure...',
  sectionId = 'Hero'
} = Astro.props;
---

<section
  id={sectionId}
  class="relative w-full px-4 sm:px-10 md:px-16 pt-20 flex flex-col gap-10 overflow-hidden"
>
  <!-- Video de fondo -->
  <video
    autoplay muted loop playsinline
    class="absolute inset-0 w-full h-full object-cover"
  >
    <source
      src="https://pub-e99d4e6e55b14d18816edeb39b164ac6.r2.dev/hero-background-vancouvermindbody.mp4"
      type="video/mp4"
    />
  </video>

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 bg-black/40 dark:bg-black/80 z-10" />

  <!-- Contenido sobre video+overlay -->
  <div class="relative z-20 w-full max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col gap-10 text-white">
    
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
      <div class="space-y-2 sm:order-1" >
        <h1 class="uppercase text-4xl font-black">{title}</h1>
        <p class="text-lg font-semibold">{subtitle}</p>
        <a href="" class="text-sm">
          {address}
        </a>
      </div>
      <div class="sm:order-3 sm:col-span-2 sm:flex sm:justify-center">
        <Forms/>
      </div>
      <p class="sm:order-2">{description}</p>
    </div>
    
    <div class="flex justify-center pb-5">
      <svg
        id="scroll-arrow"
        xmlns="http://www.w3.org/2000/svg"
        width="36" height="36" viewBox="0 0 24 24"
        fill="none" stroke="currentColor" stroke-width="2"
        class="animate-pulse"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 11l8 3l8 -3" />
      </svg>
    </div>
  </div>



  <!-- Degradado inferior -->
  <div
    class="pointer-events-none absolute inset-x-0 bottom-0 h-32 bg-gradient-to-b from-transparent to-[var(--bg)] z-20"
  />
</section>

<script>
  import gsap from 'gsap';

  gsap.to("#scroll-arrow", {
    y: 10,
    repeat: -1,
    yoyo: true,
    ease: "sine.inOut",
    duration: 1.2
  });
</script>
