---
const steps = [
    {
    icon: '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M11 15h1" /><path d="M12 15v3" /></svg>',
    step: 'STEP 1',
    title: 'Book Your Free Trial',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel leo nulla.'
  },
  {
    icon: '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-walk"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M7 21l3 -4" /><path d="M16 21l-2 -4l-3 -3l1 -6" /><path d="M6 12l2 -3l4 -1l3 3l3 1" /></svg>',
    step: 'STEP 2',
    title: 'Visit the Gym',
    description: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto autem sit soluta dolor.'
  },
  {
    icon: '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-barbell"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 12h1" /><path d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2" /><path d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z" /><path d="M9 12h6" /><path d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z" /><path d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2" /><path d="M22 12h-1" /></svg>',
    step: 'STEP 3',
    title: 'Start Your Fitness Journey',
    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fugit recusandae a iusto.'
  }
];
---

<section id="steps" class="w-full py-24 bg-white dark:bg-dark text-gray-900 dark:text-white">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 space-y-12 text-center">
    <!-- Title -->
    <div class="space-y-4">
      <h2 class="text-3xl sm:text-4xl font-bold">Ready to Transform Your Fitness?</h2>
      <p class="text-gray-600 dark:text-gray-300 text-lg">
        Booking your free trial is simple. Follow these easy steps to kickstart your fitness journey with us.
      </p>
    </div>

    <!-- Steps -->
    <div class="space-y-8 text-left">
      {
        steps.map((step, index) => (
          <div class="step flex items-start gap-4" id={`step-${index}`} style="opacity: 0;">
            <!-- Icon -->
            <div class="flex-shrink-0">
            <div class="rounded-full bg-cm-100 text-cm-500 dark:bg-cm-800 dark:text-cm-200 h-12 w-12 flex items-center justify-center text-2xl">
                <div class="h-10 w-10 bg-gym-500 rounded-full flex items-center justify-center" set:html={step.icon}></div>
            </div>
            </div>

            <!-- Content -->
            <div>
              <p class="text-cm-500 dark:text-cm-400 text-sm font-semibold">{step.step}</p>
              <h3 class="text-xl font-bold mb-1">{step.title}</h3>
              <p class="text-gray-600 dark:text-gray-400 text-sm">{step.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <!-- CTA -->
    <div class="flex items-center justify-center gap-4">
      <a
        id="hero-button"
        href='#form-container'
        class="relative inline-flex items-center justify-center 
          bg-gradient-to-r from-gym-500 to-red-500
          text-white font-semibold text-sm sm:text-base 
          py-2 sm:py-3 px-6 sm:px-8 rounded-lg 
          shadow-lg overflow-hidden
          transition-transform duration-300 ease-in-out
          hover:scale-105 hover:shadow-2xl"
        aria-label=''
      >
        <span class="relative z-10">Exercitation deserunt</span>
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24" class="ml-3" fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
      </a>
    </div>
  </div>
</section>

<script type="module">
  import { gsap } from 'https://cdn.skypack.dev/gsap';

  // Secuencia de animaciones escalonadas
  gsap.from('#steps h2', {
    y: 20,
    opacity: 0,
    duration: 1,
    ease: 'power2.out'
  });

  gsap.from('#steps p', {
    y: 10,
    opacity: 0,
    delay: 0.2,
    duration: 0.8,
    ease: 'power2.out'
  });

  for (let i = 0; i < 3; i++) {
    gsap.to(`#step-${i}`, {
      opacity: 1,
      y: 0,
      delay: 0.4 + i * 0.3,
      duration: 0.8,
      ease: 'power2.out',
    });
  }
</script>
