---
import userIcon from '../assets/users-group.svg';
import barbellIcon from '../assets/barbell.svg';
import heartIcon from '../assets/heart.svg';
import { Image } from 'astro:assets';
const features = [
  {
    icon: userIcon,
    title: 'Expert Trainers',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore necessitatibus blanditiis.',
  },
  {
    icon: barbellIcon,
    title: 'Modern Facilities',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi beatae id cum natus itaque.',
  },
  {
    icon: heartIcon,
    title: 'Personalized Guidance',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime delectus at facere vero.',
  },
];
---

<section id="why-us" class="w-full py-24 bg-gray-50 dark:bg-dark text-gray-900 dark:text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center space-y-6">
    <h2 class="text-6xl font-extrabold leading-tight">
      Why Choose <br><span class="text-gym-500">Vancouver</span>?
    </h2>
    <p class="text-lg max-w-2xl mx-auto  font-medium text-gray-600 dark:text-gray-300">
      Lorem ipsum dolor sit amet consectetur, adipisicing uaerat quae velit Non eu magna cum ullamco aute aliqua aliqua commodo ipsum cupidatat eiusmod voluptate.  eiusmod exercitation veniam irure. Adipisicing tempor fugiat Lorem magna.
    </p>

    <!-- Cards -->
    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        features.map((f, i) => (
          <div
            id={`feature-${i}`}
            class="opacity-0 translate-y-6 bg-white dark:bg-gym-500/80 p-6 rounded-xl shadow-md dark:shadow-gym-900 transition-all hover:shadow-xl flex flex-col items-center justify-center aspect-square"
          >
            <img
              src={f.icon.src}
              alt={f.title}
              class="w-16 h-16 mb-4 dark:invert"
              loading="lazy"
            />
            <h3 class="text-xl font-semibold mb-2 text-center">{f.title}</h3>
            <p class="text-gray-600 dark:text-gray-300 text-base text-center">{f.text}</p>
          </div>
        ))
      }
  </div>
  </div>
</section>

<script>
  import gsap from 'gsap';

  const tl = gsap.timeline({ defaults: { duration: 0.9, ease: 'power2.out' } });

  tl.from('#why-us h2', {
    opacity: 0,
    y: 30,
  })
  .from('#why-us p', {
    opacity: 0,
    y: 20,
  }, '-=0.5');

  // Animar cada card individualmente
  for (let i = 0; i < 3; i++) {
    gsap.to(`#feature-${i}`, {
      opacity: 1,
      y: 0,
      delay: 0.5 + i * 0.2,
      duration: 0.8,
      ease: 'power2.out',
    });
  }
</script>
